# Editor config files
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# Output files
*.pdf
*.csv
*.txt
output/

# Files for testing purposes
test.py
